<!-- Projects page template -->
<!-- include the opening tag of <body> and <html> -->
<%-include partials/html_head.ejs%>

    <%-include partials/header.ejs%>

    <main class="container">
        <!-- Page header -->
        <div class="jumbotron">
            <h1 class="display-5"><%= title %></h1>
        </div>    
        <div class="row">
            <div class="col--md-offset-3 col md-8">
                <!-- Page short description -->
                <div class="projects-intro">
                    I listed out some project I did before, Please click for more details.
                </div>
                <!-- Projects grid list -->
                <div class="projects-table col-12 d-flex flex-wrap align-it-=em-center justify-content-start">
                    <div class="project col-4">
                        <a class="" data-toggle="modal" href="#modal1" id="btn-modal1" data-modal-num="1" style="background-image: url('/assets/images/tool/tool_hm.jpg');">
                            <div class="project-name">TOOL.</div>
                        </a>
                    </div>
                    <div class="project col-4">
                        <a class="" data-toggle="modal" href="#modal2" id="btn-modal2" data-modal-num="2" style="background-image: url('/assets/images/laf/laf_hm.jpg');">
                            <div class="project-name">Lost and Found Anything Store</div>
                        </a>
                    </div>
                    <div class="project col-4">
                        <a class="" data-toggle="modal" href="#modal3" id="btn-modal3" data-modal-num="3" style="background-image: url('/assets/images/sui/sui_hm.jpg');">
                            <div class="project-name">Suijiba</div>
                        </a>
                    </div>
                    <div class="project col-4">
                        <a class="" data-toggle="modal" href="#modal4" id="btn-modal4" data-modal-num="4" style="background-image: url('/assets/images/durexhk/durexhk_hm.jpg');">
                            <div class="project-name">Durex Hong Kong</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <%-include partials/footer.ejs%>

    <!-- All the bootstrap modal box -->
    <!-- Modal -->
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Portfolio: TOOL.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-modal-num="1">
                        <i class="fa-sharp fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="project-intro">
                        This is a online shop project that using shopify. I was the developer of this project. In this project, no backend coding was needed, only frontend layout coding was needed. For the layout coding, I used Liquid, CSS, and Javascript to develop the layout.
                        <a href="https://toolhk.cc/" target="_blank">TOOL.</a>
                    </div>
                    <div class="project-image">
                        <img src="/assets/images/tool/tool_hm.jpg" alt="">
                        <img src="/assets/images/tool/tool_about.jpg" alt="">
                        <img src="/assets/images/tool/tool_prod_detail.jpg" alt="">
                        <img src="/assets/images/tool/tool_cart.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Portfolio: Lost and Found Anything Store</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-modal-num="2">
                        <i class="fa-sharp fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="project-intro">
                        This is an exhibition site in Hong Kong, its purpose is tried to let people find the things listed on the website for interacting with people. The client wanted to set up a tablet and kiosk on the exhibition site for letting people see the story of things when people found them. I was the developer of this project, it was so fun and different from the project that I did before. I used Laravel for the website framework, I also used Sass and Javascript to develop the layout.
                        <a href="https://lostandfoundanythingstore.com/en" target="_blank">Lost and Found Anything Store</a>
                    </div>
                    <div class="project-image">
                        <img src="/assets/images/laf/laf_hm.jpg" alt="">
                        <img src="/assets/images/laf/laf_about.jpg" alt="">
                        <img src="/assets/images/laf/laf_hover.jpg" alt="">
                        <img src="/assets/images/laf/laf_expended.jpg" alt="">
                        <img src="/assets/images/laf/laf_credit.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal3" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Portfolio: Suijiba</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-modal-num="3">
                        <i class="fa-sharp fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="project-intro">
                        This is a Japanese styled online store in Hong Kong, all the products are bought from Japan and they also have a physical store in Hong Kong. I was the developer of this project. I used WordPress as the framework of this project, and I also used Sass and Javascript to develop the layout, some third-party libraries have been used as well.
                        <a href="https://suijiba.co/" target="_blank">Suijiba</a>
                    </div>
                    <div class="project-image">
                        <img src="/assets/images/sui/sui_hm.jpg" alt="">
                        <img src="/assets/images/sui/sui_hm_2.jpg" alt="">
                        <img src="/assets/images/sui/sui_hm_3.jpg" alt="">
                        <img src="/assets/images/sui/sui_shop.jpg" alt="">
                        <img src="/assets/images/sui/sui_about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="modal4" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Portfolio: Durex Hong Kong</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-modal-num="4">
                        <i class="fa-sharp fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="project-intro">
                        This is an online shop that was developed by Shopline. Durex is a famous brand around the world, so I was a bit excited when I knew I have a chance to help them to maintain their Hong Kong website. As I said, this website is built with Shopline, Shopline is a web platform to let people open their online shop and Shopline is a Hong Kong based company. I was the developer to help Durex to maintain the website. And this website is similar to the TOOL website, they were both using Liquid, CSS, and Javascript to develop the layout, also no backend coding was needed.
                        <a href="https://www.durex-shopline.com/" target="_blank">Durex Hong Kong</a>
                    </div>
                    <div class="project-image">
                        <img src="/assets/images/durexhk/durexhk_hm.jpg" alt="">
                        <img src="/assets/images/durexhk/durexhk_shop.jpg" alt="">
                        <img src="/assets/images/durexhk/durexhk_article.jpg" alt="">
                        <img src="/assets/images/durexhk/durexhk_article_2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->

<!-- include the closing tag of <body> and <html> -->
<%-include partials/html_end.ejs%>